#kaocha/v1
 {:plugins [:kaocha.plugin/randomize
            :kaocha.plugin/filter
            :kaocha.plugin/capture-output]
  :kaocha.plugin.randomize/seed 1234
  :kaocha.plugin.capture-output/capture-output? true
  :kaocha.plugin.profiling/profiling? true}